html,
body {
    height: 100%;
    font-family: 'Indie Flower', cursive;
    background-image: url(/app/cuttingboard.png);
    background-attachment: fixed;
    background-size: cover;
}

/* ################ Navigstion Bar ######################### */
nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #ffffff;
    border-radius: 5px;
    border: 2px solid #5f686b;
}

.group {
    height: 350px;
    width: 300px;
    position: absolute;
    top: -75px;
    left: 5px;
}
.linkwrap {
    display: flex;
    flex: 1;
    width: 50%;
}
.navLink {
    flex: 14;
    text-decoration: none;
    font-size: 24px;
}

.header {
    flex: 1;
    text-align: center;
    z-index: 5;
    font-size: 24px;
}
a:visited {
    color: #000000;
}
a:hover {
    text-shadow: 1px 1px rgb(92, 13, 13);
    color: red;
}
search-criteria {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
form {
    padding: 50px;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: solid 3px #5f686b;
}
/* ################Recipe Cards################### */
.container {
    display: flex;
    flex-flow: wrap;
    justify-content: left;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
}
.error{
    position: absolute;
    top: 170px;
    transform: translateY(-50%);
    text-shadow: 2px 2px white;
    font-size: 50px;
}

.close{
    position: relative;
    left: 90%;
}
.recipeCard {
    border: 3px solid rgb(92, 13, 13);
    background-color: rgb(248, 248, 248);
    height: 30%;
    width: 20%;
    font-size: 18px;
    margin: 20px;
    text-align: center;
    border-radius: 8px;
}
.recipeTitle {
    border-bottom: 2px dashed (150, 67, 67);
}
.recipeTitle:hover{
    color: red;
    cursor: pointer;
}
.cook {
    margin-top: 20px;
    margin-bottom: 0;
}
.cal {
    margin-top: 0;
    margin-bottom: 0;
}
h2 {
    height: 48px;
}
input {
    /* border-radius: 5px; */
    border: none;
    border-bottom: 1px solid rgb(153, 153, 153);
}
select {
    -webkit-appearance: menulist; 
}

button {
    border: transparent;
    background-color:  rgba(228, 205, 0, 0);;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    outline: none;
    display: block;
}

/* Material Icon Button */
.material-icons.md-36 { 
    font-size: 36px; 
    width: 36px;
}

.material-icons {
    color:  rgb(150, 67, 67);
}

.material-icons:hover{
    color:#ff0000;
}
.faved {
    color: #ff0000;
}
.favfilter {
    background-color: white;
    border: solid 3px #5f686b;
    padding: 10px;
    border-radius: 8px;
    position: absolute;
    left: 75%;
    transform: translate(-50%);
    top: 12%;
}
.favfilter p {
    display: inline;
}
.imgmain {
    height: 170px;
    width: 170px;
    background-color: grey;
    display: block;
    position: relative;
    top: 14px;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 8px;
    cursor: pointer;
}

/* PopUP */
.itemdetail p {
    font-size: 18px;
    margin: 5px;
}

.itemdetail {
    height: max-content;
    width: 0 auto;
    height: 0 auto;
    position: fixed;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid rgb(92, 13, 13);
    background-color: rgba(255, 255, 255);
    display: flex;
    border-radius: 8px;
}

.popUpImg {
    width: 50%;
}

.popUpTxt {
    margin: 10px;
}
.scrollable {
    height: 100px;
    overflow-y: scroll;
}