<form ng-submit="$ctrl.search()">
    <input placeholder = "Recipes await" ng-model="$ctrl.input">
    <select name="Stuff" ng-model="$ctrl.id">
        <option value="0">Vegan</option>
        <option value="1">Alcohol Free</option>
        <option value="2">Peanut Free</option>
        <option value="3">Sugar Conscious</option>
    </select>

    <select ng-model="$ctrl.idx">
        <option value="0">Balanced</option>
        <option value="1">High Protein</option>
        <option value="2">Low Carb</option>
        <option value="3">Low Fat</option>
    </select>
    <button>Search Recipes</button>
</form>