<h1 ng-hide="$ctrl.error">No results found, search again.</h1>
<section class="container">
    <div class="recipeCard" ng-repeat="item in $ctrl.result.data.hits">
        <h2 class="recipeTitle" ng-click="$ctrl.show(item);">{{item.recipe.label}}</h2>
        <img class="imgmain" ng-click="$ctrl.show(item);" src={{item.recipe.image}}>
        <p>{{item.recipe.totalTime}}</p>
        <button class="fave_btn" ng-click="$ctrl.fave(item)"><i class="material-icons">
                star_rate
            </i></button>
    </div>
</section>
<div ng-show="$ctrl.shown" class="itemdetail">
    <img class="popUpImg" src={{$ctrl.focused.recipe.image}}>
    <div class="popUpTxt">
        <i class="material-icons" ng-click="$ctrl.shown = false">close</i>
        <p>{{$ctrl.focused.recipe.label}}</p>
        <p>{{$ctrl.focused.recipe.calories}}</p>
        <p>{{$ctrl.focused.recipe.ingredientLines}}</p>
        <a href="{{$ctrl.focused.recipe.url}}">Visit Website</a>
    </div>
</div>